p {
        font-size: 100px;
        margin: auto;
        animation: colorChange 1s infinite linear;
        transition: color .2s ease;
    }

h2 { text-align: center; }

@keyframes colorChange {
    0% { color: #ff2a2a; }
    13% { color: #ff7a2a; }
    26% { color: #ffc52a; }
    39% { color: #43ff2a; }
    52% { color: #2a89ff; }
    65% { color: #202082; }
    78% { color: #6b2aff; }
    91% { color: #e82aff; }
    100% { color: #ff2a2a; }
}